# ===============================
# Virtual Environments
# ===============================
venv/
.venv/
env/
ENV/

# ===============================
# Python Cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache

# ===============================
# Outputs / Results
# ===============================
outputs/
results/
runs/
Ultralytics/
*.jpg
*.png

# ===============================
# OS Junk
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Large Model Files (IMPORTANT)
# ===============================
*.pt
*.pth
*.weights
*.onnx

# ===============================
# Misc
# ===============================
*.zip
*.tar
*.gz
